language: java
jdk: openjdk8

install: true
addons:
  sonarcloud:
    organization: $ORGANIZATION_KEY
    token: $SONAR_TOKEN

stages:
  - name: test
  - name: sonar_analysis

jobs:
  include:
    - stage: test
      script: mvn clean test
    - stage: sonar_analysis
      script: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=$PROJECT_KEY
cache:
  directories:
    - $HOME/.m2
    - $HOME/.sonar/cache